.body{
    background-color: gray;
}

h1{ margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    color: black;
    background-color: palevioletred;
    text-align: center;
    margin-top: -40px;
    padding: 40px;
     margin-left: -8px;
    margin-right: -8px; 
}
.keys{
    margin-top: -34px;
    margin-left: -8px;
    margin-right: -8px;
    word-spacing: 230px;
    color: black;
    font-size: 25px;
    background-color:rgb(240, 167, 191) ;
    
}
h2{
    
    color: black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    
}
.ser{
    background-color: rgb(235, 241, 186);
}