h1{ margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: -40px;
    padding: 40px;
    margin-left: -8px;
    margin-right: -8px; 
    background-color: black;
     
    
}
.keys{
    margin-top: -34px;
    margin-left: -8px;
    margin-right: -8px;
    word-spacing: 230px;
    font-size: 25px;
    background-color: black;
}a:hover{color: coral;

}
a{
    color: white;
}
h2{
    text-align: center;
    font-size: 50px;
}
.book-button{
      height: 50px;
      width: 220px;
      transition: all .5s ease;
      border-radius: 20px;
      margin-top: 80px;
      margin-left: 500px;
      background-color: rgb(212, 206, 206) ;
      color: white;
      border: 1px solid white;
}
.book-button:hover{color: blueviolet;
background-color: rgb(215, 197, 231);
border: 1px solid purple;
}
.send-button{
    height: 50px;
    width: 507px;
    font-size: 30px;
    background-color: orangered;
    border: 1px solid orangered;
    color: orange;
}
.contact{
    font-size: 20px;
    color: black;
    opacity: 0.5;
}
.ss{
    color: white;
    font-size: 50px;
    margin-left: 90px;
    margin-top: 180px;
    font-family: 'Rubik', sans-serif; 
    font-weight: 800;
}
.ww{
    font-size: 30px;
    opacity: 0.8;
    
}
.w {
    margin-left: 4000px;
    
}
img{
    /* border: 1px solid red; */
    box-shadow: 0 0 1.5rem rgba(0, 0 , 0, 0.5);
    font-size: 40px;
}
.container{
    position: relative;
    text-align: center;
    color:orangered;
}.l{
    position: absolute;
    top: 30%;
    right: 0px;
    font-family: cursive;
    
}.o{
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 40px;
}.p{
    background-color: darkgrey;
}.s{
    font-size: 32px;
    margin-left: 2px;
    color: blanchedalmond;
}.contact-para{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
}.contact-form{
    margin-left: 50px;
    
}.contact-table{
    border-spacing: 100px;
    border: 1px;
} 
.img1{
    
    margin-top: 80px;
    margin-bottom: 90px;
    margin-left: 450px;
}
.about img{
    margin-top: -40px;
    margin-left: -12px;

}
.para{
    font-size: 25px;
    color: brown;
    
    
}
.p{
    font-size: 14px;
    font-style: normal;
}
.vision{ 
    font-size: 25px;
    color: rgb(174, 27, 27);
}
.what{
    background-color: rgb(77, 79, 78);
    color: rgb(232, 147, 98);
     border: red ;
}
.ph{
    font-size: 15px;
    font-style: normal;
    
}
.contact{
  
   height: 50px;
   width: 220px;
   border-radius: 20px;
   margin-top: -20px;
   margin-left: 300px;
   background-color: rgb(186, 168, 88) ;
   color: rgb(110, 106, 106);
   border: 1px solid white;
}
.contact:hover{color: rgb(19, 169, 149);
    background-color: rgb(215, 197, 231);
    border: 1px solid rgb(224, 207, 26);}
    