@charset "utf-8";
@font-face {
    font-family: 'Futura T OT';
    src: url(../fonts/FuturaTOT-Book.eot);
    src: url(../fonts/FuturaTOT-Book.eot?#iefix) format("embedded-opentype"), url(../fonts/FuturaTOT-Book.woff2) format("woff2"), url(../fonts/FuturaTOT-Book.woff) format("woff"), url(../fonts/FuturaTOT-Book.ttf) format("truetype"), url(../fonts/FuturaTOT-Book.svg#FuturaTOT-Book) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url(../fonts/BrandonGrotesque-Regular.eot);
    src: url(../fonts/BrandonGrotesque-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/BrandonGrotesque-Regular.woff2) format("woff2"), url(../fonts/BrandonGrotesque-Regular.woff) format("woff"), url(../fonts/BrandonGrotesque-Regular.ttf) format("truetype"), url(../fonts/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular) format("svg");
    font-weight: 400;
    font-style: normal
}

a:hover {
    text-decoration: none!important;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Futura T OT';
    text-align: center
}

body {
    font-family: 'Brandon Grotesque';
    padding-top: 70px;
    letter-spacing: 2px;
    color: #1c1c1c
}

p {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0
}

.navbar-default {
    padding: 0 55px
}

.navbar-default .navbar-nav>li>a {
    color: #0e0c0c;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 400
}

.dropdown-menu {
    left: 50%!important;
    margin-left: -100px;
    width: 200px;
    border-color: #f5f5f5;
    padding: 0
}

.dropdown-menu:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-width: 0 0 10px;
    border-style: solid;
    border-right: solid 10px transparent!important;
    border-left: solid 10px transparent!important;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-color: #f5f5f5
}

.ad {
    position: absolute;
    bottom: 70px;
    right: 48px;
    z-index: 992;
    background-color: #f3f3f3;
    position: fixed;
    width: 155px;
    padding: 1px
}

.ad-btn-hide {
    position: absolute;
    top: -10px;
    left: -12px;
    background: #fefefe;
    background: rgba(240, 240, 240, 0.9);
    border: 0;
    border-radius: 26px;
    cursor: pointer;
    padding: 2px;
    height: 25px;
    width: 25px;
    font-size: 14px;
    vertical-align: top;
    outline: 0
}

.carbon-img {
    float: left;
    padding: 10px
}

.carbon-text {
    color: #888;
    display: inline-block;
    font-family: Verdana;
    font-size: 11px;
    font-weight: 400;
    height: 60px;
    margin-left: 9px;
    width: 142px;
    padding-top: 10px
}

.carbon-text:hover {
    color: #666
}

.carbon-poweredby {
    color: #6A6A6A;
    float: left;
    font-family: Verdana;
    font-size: 11px;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 13px;
    text-align: center
}

html,
body {
    height: 100%
}

#mainContainer {
    height: 100%
}

.affix-nav {
    top: 250px;
    right: 10px;
    z-index: 2
}

.affix-top {
    position: fixed
}

.affix-nav>ul {
    list-style: none;
    padding: 30px 0 10px;
    text-align: center
}

.affix-nav__li {
    margin-bottom: 20px
}

.affix-nav__link {
    padding: 20px
}

.affix-nav__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    border: solid 1px #777
}

.affix-nav__dot-big {
    width: 20px;
    height: 20px
}

.affix-nav__dot {
    background: #333;
    transition: background .25s ease
}

li.active~li .affix-nav__dot {
    background: #fff
}

li .affix-nav__link:hover .affix-nav__dot,
li.active~li .affix-nav__link:hover .affix-nav__dot {
    background: #000
}

.header-section .navbar-brand {
    color: #9f8989
}

.header-section .navbar-brand:hover {
    color: #CCA2A2
}

.navbar-default {
    background-color: #fff;
    border: none;
    box-shadow: 0 1px 5px #ccc
}

.navbar-brand {
    padding: 0 15px;
    height: auto
}

.navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 25px
}

.dropdown-menu>li>a {
    padding: 9px 20px;
    font-size: 10px;
    white-space: normal;
    text-align: center;
    border-bottom: solid 1px #F5F5F5
}

.navbar-brand>img {
    display: block;
    width: 100%
}

.welcome-banner {
    height: 750px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover
}

.welcome-banner .body {
    padding: 70px
}

.welcome-banner .body p {
    text-align: left;
    text-shadow: 0 2px 4px #000;
    width: 204px
}

.welcome-banner .body span {
    display: block;
    color: #fff;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 2px 0
}

.welcome-content {
    background: #fff;
    width: 100%;
    padding: 70px
}

.welcome-content .welcome-inner {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 0 100px
}

.welcome-content h3 {
    font-size: 23px
}

.tooltip {
    display: none!important
}

#Features {
    height: 799px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover
}

.about-section {
    padding: 70px 0
}

.about-section p {
    padding: 0 100px
}

.about-section .about-detail {
    padding-bottom: 25px
}

.about-section .about-pic span {
    display: block;
    text-align: center;
    padding: 10px;
    text-transform: uppercase
}

.about-picture {
    height: 799px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover
}

#Celebrity {
    height: 799px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover
}

#Footer {
    padding: 70px 0;
    width: 100%;
    background-color: #1b1818;
    position: relative
}

#Footer address {
    padding: 30px 0 0;
    display: block;
    width: 100%;
    clear: both
}

#Footer address span {
    color: #fff;
    font-size: 16px;
    display: block;
    padding: 5px 0
}

.get-social {
    text-align: center;
    padding: 50px 0
}

.get-social a {
    display: inline-block;
    width: 29px;
    height: 27px;
    border-radius: 5px;
    background: #fff;
    margin: 0 5px;
    text-align: center;
    float: center
}

.get-social a i {
    vertical-align: top;
    color: #fff;
    font-size: 15px;
    line-height: 27px
}

.get-social .instagram {
    background: #0093B3
}

.get-social .fb {
    background: #3b5998
}

.get-social a:hover,
.get-social a:hover {
    background: #fff
}

.get-social .instagram:hover i {
    color: #0093B3
}

.get-social .fb:hover i {
    color: #3b5998
}

.copyright p {
    text-align: left
}

.copyright p,
.site-by p {
    color: #fff;
    font-size: 16px
}

.copyright p a,
.site-by p a {
    color: #fff
}

.site-by p {
    text-align: right
}

#go-to-top {
    position: absolute;
    left: 49%;
    top: -22px
}

#go-to-top a {
    padding: 3px;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
    background: #fff;
    border-radius: 100%;
    border: solid 1px #ADADAD;
    text-align: center;
    letter-spacing: inherit;
    text-transform: uppercase;
    color: #3C3C3C
}

#go-to-top a small {
    display: block
}

.inner-container {
    max-width: 960px;
    padding: 80px 15px 100px;
    margin: 0 auto;
    text-align: center
}

.inner-container .pictures-landscape {
    margin: 0 0 1px;
    position: relative;
    overflow: hidden
}

.pictures-portrait {
    margin: 0 -1px 1px;
    width: 49%;
    display: inline-block
}

.pictures-portrait div {
    padding: 0 1px
}

.inner-title {
    border-bottom: solid 1px #BBB;
    margin: 0 0 50px
}

.inner-title h2 {
    font-size: 23px;
    padding: 0 0 20px
}

.light-bx a {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 25px
}

.about-us,
.biography,
.description,
.awards {
    margin: 0 0 45px
}

.query-bx {
    border-bottom: solid 1px #BBB;
    margin: 0 0 50px
}

.query-bx a {
    display: block;
    margin: 0 auto 45px;
    width: 140px;
    border-radius: 0;
    background: transparent;
    color: #333;
    border: solid 1px #000;
    padding: 10px 25px;
    text-align: center
}

.query-bx a:hover {
    background: #333;
    color: #fff
}

.field-holder,
.form-group {
    letter-spacing: normal
}

.field-holder .form-group {
    float: left;
    width: 48.5%
}

.field-holder .form-group:last-child {
    float: right
}

.field-holder .num-bx {
    float: left;
    width: 15%;
    padding-left: 2%
}

.contact-form .field-title {
    width: 100%;
    padding-left: 2%
}

.contact-form label {
    font-weight: 400
}

.contact-form input,
.contact-form textarea,
.contact-form button,
.modal-footer button {
    border-radius: 0
}

.contact-form input,
.contact-form textarea {
    background: #fbfbfb;
    box-shadow: none;
    color: #A5A5A8
}

.contact-form input:focus,
.contact-form textarea:focus {
    background: #fff
}

.contact-form textarea {
    height: 100px
}

.modal-content {
    border-radius: 0
}

.modal-footer {
    clear: both
}

.submit-bx {
    padding-bottom: 15px;
    text-align: right
}

.submit-bx button {
    background: #fff;
    border: solid 1px #333;
    color: #333
}

.submit-bx button:hover {
    background: #333;
    color: #fff
}

.contact-person {
    padding-right: 50px
}

.contact-person p,
.contact-person h3 {
    text-align: left
}

.contact-address p,
.contact-address h4 {
    text-align: left
}

.contact-address p {
    margin: 0 0 70px
}

.contact-address h3 {
    margin: 0 0 10px
}

.modal-title {
    text-align: left;
    margin: 0 0 10px
}

.post-bx .post {
    margin: 0 0 55px
}

.post-bx .post figure {
    margin: 0 auto 10px;
    width: 600px
}

.post-bx .post figure img {
    max-width: 100%
}

.date {
    text-align: center;
    color: #968d8d;
    margin: 0 0 20px
}

.blog-title a {
    color: #333;
    text-decoration: none
}

.blog-gallery {
    text-align: center;
    padding: 20px 0 0
}

.blog-gallery a {
    display: inline-block;
    width: 24%;
    vertical-align: top;
    height: 140px;
    margin: 0 0 15px;
    overflow: hidden
}

.blog-detail-banner {
    background: url(../images/elegant-affair.jpg) no-repeat center;
    background-size: cover
}

.blog-banner-title {
    padding: 70px
}

.blog-banner-title h3,
.blog-banner-title p {
    color: #fff;
    text-shadow: 0 1px 5px #333
}

.ekko-lightbox-nav-overlay a {
    position: absolute;
    top: 42%;
    font-size: 30px;
    color: #333;
    opacity: .5;
    text-decoration: none
}

.ekko-lightbox-nav-overlay a:hover {
    opacity: 1
}

.ekko-lightbox-nav-overlay a:first-child {
    left: 0
}

.ekko-lightbox-nav-overlay a:last-child {
    right: 0
}

.video-container {
    margin: 0 -15px
}

.video-thumb {
    margin: 0 0 20px
}

.video-thumb figure {
    clear: both;
    margin: 0 0 15px;
    overflow: hidden;
    position: relative
}

.video-thumb figure a {
    display: block
}

.video-thumb figure .video-icon {
    display: block;
    position: absolute;
    top: 40%;
    left: 47%;
    color: #FFF;
    font-size: 25px;
    opacity: .4
}

.video-thumb figure:hover .video-icon {
    opacity: 1
}

.video-thumb figure a img {
    opacity: 1;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.video-thumb figure a:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.video-thumb figure a:hover:before {
    border: 15px solid #FFF9A4;
    opacity: .7;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.video-thumb figure a:before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 0 solid #FFF9A4;
    z-index: 2;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -o-transition: .6s;
    transition: .6s
}

.video-thumb p {
    text-transform: uppercase;
    font-size: 14px;
    min-height: 60px
}

.player-box {
    text-align: left;
    margin: 0 0 62px;
    clear: both;
    padding: 0 0 62px
}

.player-box h4 {
    margin: 25px 0 10px
}

.player-box .video {
    position: relative;
    background: #000
}

.player-box .video iframe {
    padding: 20px 0
}

.player-box .video a {
    display: block
}

.player-box .video a img {
    opacity: .4
}

.player-box .video a:hover img {
    opacity: 1
}

.player-box .video .video-icon {
    position: absolute;
    left: 45%;
    top: 40%;
    color: #fff;
    font-size: 40px;
    opacity: .7
}

.player-box p {
    font-size: 16px;
    margin: 15px 0 0
}

.video-list {
    padding-left: 50px
}

.video-list h3 {
    margin: 0 0 20px;
    padding: 0;
    text-align: left;
    font-size: 20px
}

.video-list ul {
    list-style-type: none;
    margin: 0 0 10px;
    padding: 0
}

.video-list ul li {
    display: block;
    text-align: left;
    margin: 0 0 12px
}

.video-list ul li a {
    background: url(../images/cirarrow.png) no-repeat 0 2px;
    display: block;
    color: #1c1c1c;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 0 0 22px
}

.video-list ul li a:hover {
    color: #D24F23;
    text-decoration: none!important;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.wedding-container .wed-pics {
    display: inline-block;
    vertical-align: top
}

.wed-pics .wedding a {
    display: block;
    background: #FFF
}

.wed-pics .wedding a img {
    opacity: .7;
    border: solid 9px #EAEAEA
}

.wed-pics:hover .wedding a img {
    opacity: 1;
    border: solid 9px #59C3C3;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.wed-pics .wedding-title a {
    display: block;
    padding: 15px 25px;
    background: #F1F1F1;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #333;
    text-align: left;
    min-height: 70px
}

.wed-pics:hover .wedding-title a {
    background: #59C3C3;
    color: #FFF
}

.sticky-container {
    padding: 0;
    margin: 0;
    position: fixed;
    left: 0;
    top: 60%;
    width: 43px
}

.sticky {
    padding: 0
}

.sticky li {
    list-style-type: none;
    background-color: #EAEAEA;
    color: #efefef;
    opacity: .8;
    padding: 0;
    margin: 0 0 1px;
    cursor: pointer;
    width: 43px;
    overflow: hidden
}

.sticky li:hover {
    opacity: 1
}

.sticky li p {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    line-height: 43px;
    color: #333
}

.sticky li img {
    float: left;
    margin: 5px
}

#scroll {
    position: fixed;
    bottom: 1.7%;
    left: 50%;
    width: 24px;
    height: 32px;
    color: #F7B0B0;
    cursor: pointer;
    z-index: 9999;
    text-align: center;
    padding: 0
}

.bounce {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 15px;
    height: 40px;
    font-size: 30px;
    line-height: 40px
}

#scroll i {
    font-size: 45px;
    opacity: .5
}

#scroll:hover {
    color: #DC4A3F
}

#scroll:hover i {
    opacity: 1
}

@media (max-width:1024px) and (min-width:768px) {
    .header-section .navbar-header {
        width: 8%
    }
    .header-section .navbar-brand {
        margin: 4px 0 0;
        padding: 0
    }
}

@media (max-width:1024px) {
    .navbar-default {
        padding: 0 15px
    }
    .welcome-banner,
    #Features,
    .about-picture,
    #Celebrity {
        height: 600px!important;
        background-attachment: inherit!important
    }
    #scroll {
        display: none
    }
}

@media (max-width:991px) {
    .nav>li>a {
        padding-left: 6px;
        padding-right: 6px
    }
    .navbar-brand {
        font-size: 14px
    }
    .get-social {
        padding: 20px 0
    }
    #Footer {
        padding: 50px 0
    }
    .copyright p,
    .site-by p {
        text-align: center
    }
    .inner-container {
        padding: 30px 15px 40px
    }
    .header-section .navbar-brand {
        margin: 7px 0 0
    }
    .about-section p {
        padding: 0 15px
    }
    .welcome-content .welcome-inner {
        padding: 0 15px
    }
    .about-section {
        padding: 25px 0
    }
    .welcome-content {
        padding: 25px 15px
    }
    .social-bx {
        overflow: hidden;
        padding-bottom: 40px
    }
    #Footer address {
        padding: 0 0 40px;
        width: 40%;
        clear: none;
        float: right
    }
    .foot-left {
        border-right: none!important;
        padding-right: 15px!important
    }
    .foot-right {
        border-left: none!important;
        padding-left: 15px!important
    }
    .map-bx iframe {
        height: 200px
    }
}

@media (max-width:768px) {
    .welcome-banner,
    #Features,
    .about-picture,
    #Celebrity {
        height: 450px!important
    }
}

@media (max-width:767px) {
    .navbar-toggle {
        margin-top: 19px
    }
    .navbar-nav>li>a {
        padding-top: 5px;
        padding-bottom: 5px
    }
    .header-section .navbar-brand {
        margin: 0
    }
    .affix-nav {
        display: none
    }
    .about-pic {
        max-width: 500px;
        margin: 0 auto 20px;
        clear: both
    }
    .about-pic img {
        margin: 0 auto
    }
    .dropdown-menu {
        position: static;
        margin-left: 0;
        width: 100%;
        border-color: transparent;
        padding: 0;
        box-shadow: none;
        background: #F7F7F7;
        border-radius: 0
    }
    .dropdown-menu:before {
        top: 20px;
        left: 6%
    }
    .copy-right-section .copy-right p,
    .copy-right-section .copy-left p {
        text-align: center!important
    }
}

@media (max-width:600px) {
    .branch1,
    .branch2 {
        float: none;
        width: 100%
    }
    .branch1 img,
    .branch2 img {
        margin: 0 auto
    }
    .foot-left h4,
    .foot-left p {
        text-align: center!important
    }
    .foot-left .footer-title img,
    .foot-left .footer-title h3 {
        float: none!important
    }
    .foot-left .footer-title h3 {
        text-align: center!important
    }
    .foot-left .footer-title img {
        margin: 0 auto;
        display: none!important
    }
    .social {
        text-align: center
    }
    .social h4 {
        text-align: center!important
    }
    .sitemap {
        text-align: center
    }
    .foot-right {
        padding-right: 15px!important;
        padding-top: 20px
    }
    .foot-right ul li {
        background: none!important;
        padding: 0!important;
        margin: 0 0 10px!important
    }
    .foot-right ul li a,
    .foot-right h3 {
        text-align: center!important
    }
    #Footer address {
        float: none;
        clear: both;
        text-align: center;
        width: 100%;
        padding: 30px 0 10px
    }
    .social-bx {
        text-align: center
    }
    .fb_iframe_widget {
        float: none!important
    }
}

@media (max-width:540px) {
    .navbar-toggle {
        margin-top: 19px
    }
    .about-section .about-pic {
        width: 100%
    }
}


@media (max-width:480px) {

    .welcome-banner, #Features, .about-picture, #Celebrity {height:250px!important }
    .welcome-banner .body {padding: 20px; }
   .welcome-banner .body p {text-align: center; text-shadow: 0 2px 4px #000; width: 100%; line-height: 19px; padding-top: 30%; }
  
}


@media (max-width:360px) {
      .welcome-banner,
    #Features,
    .about-picture,
    #Celebrity {
        height:220px!important
    }
  
}

@media (max-width:iphone-screen) {
    .welcome-banner,
    #Features {
        background-attachment: scroll
    }
}

.contactform p {
    font-size: 14px;
    line-height: 19px
}

.our-client ul {
    list-style-type: none
}

.our-client ul li {
    display: inline-block;
    vertical-align: top;
    margin: 0 2% 10px;
    width: 28%
}

.our-client ul li h4 {
    font-size: 18px;
    margin: 0 0 5px;
    text-align: left
}

.our-client ul li p {
    text-align: left
}

.vcenter {
    vertical-align: central;
    margin-top: 20%;
    font-style: italic
}

.prepbootstrap-sharing-container {
    position: fixed;
    top: 40%;
    left: 0;
    right: auto;
    display: inline-block;
    margin: 0;
    padding: 0;
    z-index: 11100;
    overflow: hidden;
    width: 64px
}

.prepbootstrap-sharing-container .sharing-item {
    width: 48px;
    height: 48px;
    text-align: center;
    cursor: pointer
}

.prepbootstrap-sharing-container .sharing-item:hover {
    width: 64px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.prepbootstrap-sharing-container .sharing-img {
    display: inline-block;
    margin: auto;
    margin-top: 8px;
    width: 32px;
    height: 32px;
    background-image: url(../images/sharing32x32.png)
}

.prepbootstrap-sharing-container .sharing-fb {
    background-color: #305891
}

.prepbootstrap-sharing-container .sharing-fb .sharing-img {
    background-position: 0 0
}

.prepbootstrap-sharing-container .sharing-gp {
    background-color: #AC7E66
}

.prepbootstrap-sharing-container .sharing-gp .sharing-img {
    background-position: 0 -32px
}

.prepbootstrap-sharing-container .sharing-tw {
    background-color: #2CA8D2
}

.prepbootstrap-sharing-container .sharing-tw .sharing-img {
    background-position: 0 -64px
}

.prepbootstrap-sharing-container .sharing-li {
    background-color: #4498C8
}

.prepbootstrap-sharing-container .sharing-li .sharing-img {
    background-position: 0 -96px
}

#footer-main {
    background: #2d2b2b;
    padding: 70px 0;
    text-align: left;
    color: #b5b5b5;
    position: relative
}

.foot-left {
    border-right: solid 1px #414040;
    min-height: 400px;
    padding-right: 50px
}

.foot-right {
    border-left: solid 1px #161515;
    min-height: 400px;
    padding-right: 35px
}

.foot-left .footer-title {
    width: 100%;
    float: left
}

.foot-left .footer-title img,
.foot-left .footer-title h3 {
    display: block;
    float: left
}

.foot-left .footer-title h3,
.foot-right h3 {
    text-align: left;
    font-size: 38px;
    color: #e8e8e8;
    margin: 0 0 25px;
    padding: 6px 0 0 35px;
    letter-spacing: 0
}

.foot-left .branch1,
.foot-left .branch2,
.foot-left .branch3 {
    margin: 0 0 25px
}

.foot-left .branch3 img {
    border: solid 1px #6F6F6F
}

.foot-left p,
.foot-left h4 {
    text-align: left;
    line-height: normal;
    letter-spacing: normal
}

.foot-left h4 {
    color: #e8e8e8
}

.foot-left p {
    margin: 7px 0 0;
    font-size: 16px;
    text-transform: none
}

.foot-right {
    letter-spacing: normal
}

.foot-right ul {
    padding: 0;
    list-style-type: none;
    padding-left: 36px
}

.foot-right ul li {
    margin: 0 0 22px;
    padding: 0 0 0 26px;
    display: block;
    background: url(../images/footer-bullets.png) no-repeat 0 6px
}

.foot-right ul li a {
    display: block;
    color: #b5b5b5;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase
}

.foot-right ul li a:hover {
    color: #946f5f
}

.social {
    margin: 50px 0 0;
    padding: 0 0 0 35px
}

.social a {
    width: 31px;
    height: 31px;
    display: inline-block;
    background: #a8a8a8;
    color: #2d2b2b;
    font-size: 20px;
    text-align: center;
    line-height: 34px
}

.social a:hover {
    color: #fff
}

.social .facebook:hover {
    background: #3a5999
}

.social .twitter:hover {
    background: #00acee
}

.social .instagram:hover {
    background: #3e729a
}

.social .google:hover {
    background: #d14836
}

.social h4 {
    font-size: #e8e8e8;
    font-size: 28px;
    margin: 0 0 13px;
    text-align: left
}

.sitemap {
    padding: 50px 0 0 35px
}

.sitemap h5 {
    margin: 0 20px 0 0;
    font-size: 18px
}

.sitemap h5,
.sitemap a,
.sitemap span {
    display: inline-block;
    padding: 0 5px;
    color: #b5b5b5
}

.sitemap a:hover {
    color: #946f5f
}

.copy-right-section {
    background: #181818;
    padding: 25px 0
}

.copy-right-section .copy-left p {
    text-align: left
}

.copy-right-section .copy-right p {
    text-align: right
}

.copy-right-section p {
    color: #e8e8e8;
    text-transform: none;
    margin: 0;
    font-size: 12px
}

.welcome-banner {
    background-attachment: fixed;
    height: 750px;
}

#Features {
    background-attachment: fixed;
    height: 799px;
}

.about-picture {
    background-attachment: fixed;
    height: 799px;
}

#Celebrity {
    background-attachment: fixed;
    height: 799px;
}



@-webkit-keyframes bounce {
    0%,
    20%,
    60%,
    100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
    }
    80% {
        -webkit-transform: translateY(-10px);
    }
}

.video-thumb figure img {
    height: 185px;
}